<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
    
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Plataforma Virtual GEOS</h1>
                <p>Registro de Solicitudes Enviadas</p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
    
            <div class="container">
              <div class="carousel-caption">
                <h1>Historial de Solicitudes</h1>
                <p>Revise en que estado va su solicitud y que observaciones podria tener</p>
                
              </div>
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <div>            
        <br>
        <div class="container mt-3">           
            
               <div class="search-input">
                <div class="container">
                    <div class="search-input-wrapper">
                        <form>
                             <div class="row">
                           

                            
                                 <label class="col-sm-4" >Buscar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="Solicitudes"></label>


                            
                                 </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
            <br>

            
            <div class="row">
                <div class="col">
                    <table class="table table-bordered" id="tablita">
                        <thead>
                            <tr>
                                <th scope="col">N° de Solicitud</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Organizacion</th>
                                <th scope="col">Fecha de Solicitud</th>
                                <th scope="col">Fecha Maxima Atencion</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Observaciones</th>

                            </tr>
                        </thead>
                        <tbody> 
                            
                            
                        </tbody>
                    </table>


                    







                </div>
                
            </div>
            
        </div>
        
    </div>

    
</main>
<footer class="container">
    
    <p>&copy; 2022 Geos, G1. &middot; <a href="#">Privacidad</a> &middot; <a href="#">Terminos y condiciones</a></p>
  </footer>